# Optional for production image storage
S3_UPLOAD_KEY=
S3_UPLOAD_SECRET=
S3_UPLOAD_BUCKET=
S3_UPLOAD_REGION=

# Required for local and production generation
TOGETHER_API_KEY=

# Optional
HELICONE_API_KEY=
